<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
        <input type="text" class="form-control" [(ngModel)]="name" placeholder="NGModel"><br>
        <input type="text" class="form-control" (input)="onUpdate($event)" placeholder="Event-Binding">
    </div>
    <div class="col-md-6">
      <input type="submit" class="btn btn-primary" [disabled]="!button" (click)="onCreateServer()" >
      <p [innerText]="button"></p>
      <p>{{ ServerChange }}</p>
      <p>{{ eventvalue }}</p>
    </div>
  </div>
  <div>
    {{name}}
  </div>

  <app-server></app-server>
  <app-servers></app-servers>

</div>